@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
div#root{
  width: 500px;
  margin: 0 auto;
  text-align: left;
}
input{
  margin-bottom: 10px;
}